<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/convocatoria">Convocatoria</a>
                    {% if session['perfil_id'] == 0 %}
                    <a class="nav-item nav-link" href="/produccion">Producción</a>
                    <a class="nav-item nav-link" href="/compras">Compras</a>
                    <a class="nav-item nav-link" href="/info_postulantes">Info postulantes</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1>Bienvenid@  {{nombreUser}}</h1>
        <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Crear insumos</h2>
                <!--Realizar validacion con ajax-->

                <form action="/crear/insumo" method="post">
                    <div class="form-group">
                        <label for="nombre_in">Nombre insumo</label>
                        <input type="text" id="nombre_in" name="nombre_in" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="und_medida">unidad de medida</label>
                        <input type="text" name="und_medida" id="und_medida" class="form-control" placeholder="kg/unidad/litros">
                    </div>
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </form>
                <br>
                <h2>Gastos - compras:</h2>
                <form action="/crear/compra" method="post"> <!--cambiar el action por el metodo correspondiente-->
                    <div class="form-group">
                        <label for="fecha_g">Fecha:</label>
                        <input type="date" id="fecha_g" name="fecha_g" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="insumos">Insumo</label> <!--crear variable insumos y traer la lista de los insumos-->
                        <select class="form-select" aria-label="Default select example" name="id_insumo" id="id_insumo">
                            <option value ="" selected>Open this select menu</option>
                            {% for insumo in insumos %}
                                <option value={{insumo.id}}>{{ insumo.nombre_in }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="concepto">Concepto</label>
                        <input type="text" name="concepto" id="concepto" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="valor">Valor</label>
                        <input type="number" name="valor" id="valor" class="form-control">
                    </div>
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </form>
            </div>
            <div class="col-6">
                <h2>Listado de insumos:</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <th>Insumo</th>
                        <th>Unidad medida</th>
                    </thead>
                
                    <tbody class="align-middle">
                        {% for insumo in insumos %}
                        <tr>
                            <td>{{ insumo.nombre_in }}</td>
                            <td>{{ insumo.und_medida }}</td>
                            <td class="">
                                <a class="btn btn-sm btn-success m-1" href="/editar/insumo/{{insumo.id}}"><span title="Editar">Editar<i class="fas fa-edit fa-fw"></i></span></a>
                                <a class="btn btn-sm btn-danger  m-1" href="/borrar/insumo/{{insumo.id}}"><span title="Eliminar">Eliminar<i class="fas fa-trash fa-fw"></i></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <h2>Reporte:</h2>
                <h3>Gastos versus ingresos</h3>
                <br>  
                <div class="card-body">
                    <p class="text-success">Total $ ventas: {{total_ventas}}</p>
                    <p class="text-danger">Total $ gastos: {{total_gastos}}</p>
                    <p class="text-info">Ganancias/Perdidas: {{total_ventas - total_gastos}}</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='static/js/script.js') }}"></script>
</body>
</html>