<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar insumos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/convocatoria">Convocatoria</a>
                    {% if session['perfil_id'] == 0 %}
                    <a class="nav-item nav-link" href="/produccion">Producción</a>
                    <a class="nav-item nav-link" href="/compras">Compras</a>
                    <a class="nav-item nav-link" href="/info_postulantes">Info postulantes</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center">
            <h2>Editar insumo</h2>
            <a href="/flask_app/templates/compras.html" class="btn btn-success">Volver</a>
        </header>
        <form action="/editar/insumo" method="POST">
            <input type="hidden" name="id" value="{{insumo.id}}" >
            <div class="form-group">
                <label for="nombre_in">Nombre insumo</label>
                <input type="text" id="nombre_in" name="nombre_in" class="form-control" value="{{insumo.nombre_in}}">
            </div>
            <div class="form-group">
                <label for="und_medida">unidad de medida</label>
                <input type="text" name="und_medida" id="und_medida" class="form-control" value="{{insumo.und_medida}}">
            </div>
            <input type="submit" class="btn btn-primary" value="Guardar">
        </form>
    </div>
</body>
</html>